@import "variables";
@import "images";

// No UnderLine for all Links
* {
  text-decoration: none;
}
// All Classes with the name "item" in it selected
[class*="item"] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 5px 5px 10px $fontCol;
}
// Scale navBar on Hover
.links > a:hover {transform: scale(1.1); transition: 0.5s;};
// Scale Item/Picture on Hover
[class*="item"]:hover {transform: scale(1.05); transition: 1s;};
// Scale/Recolor Links on Hover
.foodBar > a:hover {transform: scale(1.1); transition: 0.5s; color: $fontGrey;};
// Scale/Recolor Links on Hover > Footer
.liFooter > a:hover {transform: scale(1.2); transition: 0.5s;};
// Navbar & FoodBar start
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: $fontCol;
  font-weight: 600;
  
    #search , .search {
      border-radius: 3px;
    }
      .navLogo {
      width: 100px;
    }
        .links {
        display: flex;
        gap: 30px;
      }
        a {
          color: $fontCol;
        }
  }
  .foodBar {
  display: flex;
  justify-content: space-around;
  border-top: $lineCol 1.5px;
  border-bottom: $lineCol 1.5px;
  padding: 3px;
  color: $fontCol;
  font-weight: 600;
  a {
    color: $fontCol; 
  }
}
// NavBar and FoodBar end

// Food Selection Start
#grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 10px;
// All Items with Pictures
    .item  {
      height: 200px;
      background-image: url(/image/bowl.png); }
      .item1  {
        height: 200px;
        background-image: url(/image/burger.png);
      }
        .item2  {
          height: 200px;
          background-image: url(/image/desert.png);
        }
          .item3  {
            height: 200px;
            background-image: url(/image/filet.png);
          }
            .item4  {
              height: 200px;
              background-image: url(/image/icecream.png);
            }
              .item5  {
                height: 200px;
                background-image: url(/image/lasagne.png);
              }
                .item6  {
                  height: 200px;
                  background-image: url(/image/pizza.png);
                }
                  .item7  {
                    height: 200px;
                    background-image: url(/image/schnitzel.png);
                  }
                    .item8  {
                      height: 200px;
                      background-image: url(/image/sushi.png);
                    }
      
      p {
          background-color: rgb(0,0,0,.4);
          text-align: center;
          padding: 10px 0;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: $bgColor;
      }
}
// Food Selection End

// Footer Start
.sed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fontCol;
  gap: 20px;
}
.footer {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  background-color: $footCol;
  font-weight: 600;
  color: white;
   .liFooter {
      display: contents;
      justify-content: space-around;
      align-items: space-around;
        a {
          color: $bgColor;
        }
          p {
            display: contents;
            justify-content: center;
            align-items: center;
          }
  }
}

@media screen and (max-width: 1150px) {
  #grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  #grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}